.content_wrapper{
  position: absolute;
  width: 400px;
  height: 200px;
  z-index: 15;
  top: 20%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.val {
	float:left;
	width: 50%;
}

.not-val {
	float:right;
	width: 50%;
}

#valideaza{
	background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#nu-valideaza {
	background-color: #E31717; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}